<IfModule mod_headers.c>
    Header always unset X-Frame-Options
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_php.c>
    php_value upload_max_filesize 25M
    php_value post_max_size 30M
    php_value max_execution_time 600
    php_value max_input_time 600
    php_value memory_limit 512M
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^api/(.*)$ backend/api/$1 [L,QSA]
</IfModule>
