-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: veeru_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `vocab_words`
--

DROP TABLE IF EXISTS `vocab_words`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vocab_words` (
  `word_id` int(11) NOT NULL AUTO_INCREMENT,
  `word` varchar(100) NOT NULL,
  `definition` text NOT NULL,
  `example_sentence` text DEFAULT NULL,
  `category_id` int(11) NOT NULL,
  `pronunciation_text` varchar(100) DEFAULT NULL,
  `audio_file_url` varchar(255) DEFAULT NULL,
  `difficulty_level` enum('Easy','Medium','Hard') DEFAULT 'Medium',
  `usage_frequency` enum('Common','Moderate','Rare') DEFAULT 'Moderate',
  `synonyms` text DEFAULT NULL COMMENT 'Comma-separated synonyms',
  `antonyms` text DEFAULT NULL COMMENT 'Comma-separated antonyms',
  `word_type` varchar(50) DEFAULT NULL COMMENT 'noun, verb, adjective, etc.',
  `etymology` text DEFAULT NULL COMMENT 'Word origin/history',
  `mnemonic_hint` text DEFAULT NULL COMMENT 'Memory aid',
  `is_active` tinyint(1) DEFAULT 1,
  `times_reviewed` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `definition_marathi` text DEFAULT NULL COMMENT 'Definition in Marathi language',
  `set_number` int(11) DEFAULT 1,
  `level_name` varchar(50) DEFAULT 'Beginner',
  `options` text DEFAULT NULL COMMENT 'JSON array of MCQ options',
  `correct_answer` varchar(100) DEFAULT NULL COMMENT 'Correct answer for MCQ',
  PRIMARY KEY (`word_id`),
  KEY `idx_word` (`word`),
  KEY `idx_category` (`category_id`),
  KEY `idx_difficulty` (`difficulty_level`),
  KEY `idx_active` (`is_active`),
  KEY `idx_category_difficulty` (`category_id`,`difficulty_level`),
  FULLTEXT KEY `ft_word_definition` (`word`,`definition`),
  CONSTRAINT `vocab_words_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `vocab_categories` (`category_id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vocab_words`
--

LOCK TABLES `vocab_words` WRITE;
/*!40000 ALTER TABLE `vocab_words` DISABLE KEYS */;
/*!40000 ALTER TABLE `vocab_words` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER update_category_count_insert
AFTER INSERT ON vocab_words
FOR EACH ROW
BEGIN
    UPDATE vocab_categories 
    SET word_count = word_count + 1 
    WHERE category_id = NEW.category_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER update_category_count_delete
AFTER DELETE ON vocab_words
FOR EACH ROW
BEGIN
    UPDATE vocab_categories 
    SET word_count = word_count - 1 
    WHERE category_id = OLD.category_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-05  0:39:48
