-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: veeru_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `badges`
--

DROP TABLE IF EXISTS `badges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `badges` (
  `badge_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `icon` varchar(50) NOT NULL,
  `criteria_type` varchar(50) NOT NULL,
  `criteria_value` varchar(50) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`badge_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `badges`
--

LOCK TABLES `badges` WRITE;
/*!40000 ALTER TABLE `badges` DISABLE KEYS */;
INSERT INTO `badges` VALUES (1,'Night Owl','Study after 10 PM','≡ƒîÖ','time_of_day','22:00','2025-12-01 16:47:49'),(2,'Streak Master','Login 7 days in a row','≡ƒöÑ','login_streak','7','2025-12-01 16:47:49'),(3,'Quiz Whiz','Score 100% on 5 quizzes','≡ƒÅå','perfect_scores','5','2025-12-01 16:47:49');
/*!40000 ALTER TABLE `badges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookmarks`
--

DROP TABLE IF EXISTS `bookmarks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bookmarks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `item_id` int(11) NOT NULL,
  `type` enum('video','note','question') NOT NULL,
  `title` varchar(255) NOT NULL,
  `meta` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`meta`)),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookmarks`
--

LOCK TABLES `bookmarks` WRITE;
/*!40000 ALTER TABLE `bookmarks` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookmarks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chapters`
--

DROP TABLE IF EXISTS `chapters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chapters` (
  `chapter_id` int(11) NOT NULL AUTO_INCREMENT,
  `subject_id` int(11) NOT NULL,
  `chapter_name` varchar(150) NOT NULL,
  `description` text DEFAULT NULL,
  `chapter_order` int(11) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`chapter_id`),
  KEY `idx_subject_id` (`subject_id`),
  KEY `idx_chapter_subject` (`subject_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chapters`
--

LOCK TABLES `chapters` WRITE;
/*!40000 ALTER TABLE `chapters` DISABLE KEYS */;
/*!40000 ALTER TABLE `chapters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classes`
--

DROP TABLE IF EXISTS `classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classes` (
  `class_id` int(11) NOT NULL AUTO_INCREMENT,
  `class_name` varchar(50) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`class_id`),
  UNIQUE KEY `class_name` (`class_name`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes`
--

LOCK TABLES `classes` WRITE;
/*!40000 ALTER TABLE `classes` DISABLE KEYS */;
INSERT INTO `classes` VALUES (1,'Class 1','2025-11-29 18:17:04'),(2,'Class 2','2025-11-29 18:17:04'),(3,'Class 3','2025-11-29 18:17:04'),(4,'Class 4','2025-11-29 18:17:04'),(5,'Class 5','2025-11-29 18:17:04'),(6,'Class 6','2025-11-29 18:17:04'),(7,'Class 7','2025-11-29 18:17:04'),(8,'Class 8','2025-11-29 18:17:04'),(9,'Class 9','2025-11-29 18:17:04'),(10,'Class 10','2025-11-29 18:17:04'),(11,'Class 11','2025-11-29 18:17:04'),(12,'Class 12','2025-11-29 18:17:04');
/*!40000 ALTER TABLE `classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flashcards`
--

DROP TABLE IF EXISTS `flashcards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flashcards` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chapter_id` int(11) NOT NULL,
  `subject` varchar(255) NOT NULL,
  `topic` varchar(255) NOT NULL,
  `question_front` text NOT NULL,
  `answer_back` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `chapter_id` (`chapter_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flashcards`
--

LOCK TABLES `flashcards` WRITE;
/*!40000 ALTER TABLE `flashcards` DISABLE KEYS */;
/*!40000 ALTER TABLE `flashcards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maths_scores`
--

DROP TABLE IF EXISTS `maths_scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maths_scores` (
  `score_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `score` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`score_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_score` (`score`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maths_scores`
--

LOCK TABLES `maths_scores` WRITE;
/*!40000 ALTER TABLE `maths_scores` DISABLE KEYS */;
/*!40000 ALTER TABLE `maths_scores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mcq_attempts`
--

DROP TABLE IF EXISTS `mcq_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mcq_attempts` (
  `attempt_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `mcq_id` int(11) NOT NULL,
  `chapter_id` int(11) NOT NULL,
  `selected_answer` varchar(1) DEFAULT NULL,
  `correct_answer` varchar(1) DEFAULT NULL,
  `is_correct` tinyint(1) DEFAULT NULL,
  `attempted_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`attempt_id`),
  KEY `mcq_id` (`mcq_id`),
  KEY `chapter_id` (`chapter_id`),
  KEY `idx_user_chapter` (`user_id`,`chapter_id`),
  KEY `idx_user_mcq` (`user_id`,`mcq_id`),
  KEY `idx_correctness` (`user_id`,`chapter_id`,`is_correct`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mcq_attempts`
--

LOCK TABLES `mcq_attempts` WRITE;
/*!40000 ALTER TABLE `mcq_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `mcq_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mcq_vocab_link`
--

DROP TABLE IF EXISTS `mcq_vocab_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mcq_vocab_link` (
  `link_id` int(11) NOT NULL AUTO_INCREMENT,
  `mcq_id` int(11) NOT NULL,
  `word_id` int(11) NOT NULL,
  `relevance_score` decimal(3,2) DEFAULT 1.00 COMMENT 'How relevant the word is to the question',
  `link_type` enum('keyword','context','answer') DEFAULT 'context',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`link_id`),
  UNIQUE KEY `unique_mcq_word` (`mcq_id`,`word_id`),
  KEY `idx_mcq` (`mcq_id`),
  KEY `idx_word` (`word_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mcq_vocab_link`
--

LOCK TABLES `mcq_vocab_link` WRITE;
/*!40000 ALTER TABLE `mcq_vocab_link` DISABLE KEYS */;
/*!40000 ALTER TABLE `mcq_vocab_link` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mcqs`
--

DROP TABLE IF EXISTS `mcqs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mcqs` (
  `mcq_id` int(11) NOT NULL AUTO_INCREMENT,
  `chapter_id` int(11) NOT NULL,
  `question` text NOT NULL,
  `option_a` text NOT NULL,
  `option_b` text NOT NULL,
  `option_c` text NOT NULL,
  `option_d` text NOT NULL,
  `correct_answer` enum('a','b','c','d') NOT NULL,
  `explanation` text DEFAULT NULL,
  `difficulty` enum('easy','medium','hard') DEFAULT 'medium',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`mcq_id`),
  KEY `idx_chapter_id` (`chapter_id`),
  KEY `idx_difficulty` (`difficulty`),
  KEY `idx_mcq_chapter` (`chapter_id`)
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mcqs`
--

LOCK TABLES `mcqs` WRITE;
/*!40000 ALTER TABLE `mcqs` DISABLE KEYS */;
/*!40000 ALTER TABLE `mcqs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mental_math_progress`
--

DROP TABLE IF EXISTS `mental_math_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mental_math_progress` (
  `user_id` int(11) NOT NULL,
  `current_level` int(11) DEFAULT 1,
  `total_problems` int(11) DEFAULT 0,
  `avg_accuracy` float DEFAULT 0,
  `avg_speed` float DEFAULT 0,
  `last_updated` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mental_math_progress`
--

LOCK TABLES `mental_math_progress` WRITE;
/*!40000 ALTER TABLE `mental_math_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `mental_math_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notes`
--

DROP TABLE IF EXISTS `notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notes` (
  `note_id` int(11) NOT NULL AUTO_INCREMENT,
  `chapter_id` int(11) NOT NULL,
  `title` varchar(200) NOT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `content` longtext DEFAULT NULL,
  `note_type` enum('pdf','html') DEFAULT 'html',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`note_id`),
  KEY `idx_chapter_id` (`chapter_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notes`
--

LOCK TABLES `notes` WRITE;
/*!40000 ALTER TABLE `notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `notification_id` int(11) NOT NULL AUTO_INCREMENT,
  `teacher_id` int(11) NOT NULL,
  `class_id` int(11) NOT NULL,
  `title` varchar(200) NOT NULL,
  `message` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`notification_id`),
  KEY `idx_teacher_id` (`teacher_id`),
  KEY `idx_class_id` (`class_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,2,10,'Homework Assignment','Complete Chapter 1 exercises by Friday. Focus on problems 1-10.','2025-11-29 18:17:04'),(2,2,10,'Test Announcement','Unit test on Real Numbers and Polynomials scheduled for next Monday.','2025-11-29 18:17:04');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quick_revision`
--

DROP TABLE IF EXISTS `quick_revision`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quick_revision` (
  `revision_id` int(11) NOT NULL AUTO_INCREMENT,
  `chapter_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `key_points` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`key_points`)),
  `summary` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`revision_id`),
  KEY `chapter_id` (`chapter_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quick_revision`
--

LOCK TABLES `quick_revision` WRITE;
/*!40000 ALTER TABLE `quick_revision` DISABLE KEYS */;
/*!40000 ALTER TABLE `quick_revision` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_mental_math_progress`
--

DROP TABLE IF EXISTS `student_mental_math_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_mental_math_progress` (
  `progress_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `level` int(11) DEFAULT 1,
  `total_sets_completed` int(11) DEFAULT 0,
  `total_correct_answers` int(11) DEFAULT 0,
  `last_played` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`progress_id`),
  UNIQUE KEY `unique_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_mental_math_progress`
--

LOCK TABLES `student_mental_math_progress` WRITE;
/*!40000 ALTER TABLE `student_mental_math_progress` DISABLE KEYS */;
INSERT INTO `student_mental_math_progress` VALUES (1,4,5,5,43,'2025-12-27 17:49:36');
/*!40000 ALTER TABLE `student_mental_math_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_progress`
--

DROP TABLE IF EXISTS `student_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_progress` (
  `progress_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `chapter_id` int(11) DEFAULT NULL,
  `video_id` int(11) DEFAULT NULL,
  `mcq_score` int(11) DEFAULT NULL,
  `total_mcq` int(11) DEFAULT NULL,
  `percentage` decimal(5,2) DEFAULT NULL,
  `completed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`progress_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_chapter_id` (`chapter_id`),
  KEY `idx_progress_user_chapter` (`user_id`,`chapter_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_progress`
--

LOCK TABLES `student_progress` WRITE;
/*!40000 ALTER TABLE `student_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjects`
--

DROP TABLE IF EXISTS `subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjects` (
  `subject_id` int(11) NOT NULL AUTO_INCREMENT,
  `class_id` int(11) NOT NULL,
  `subject_name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`subject_id`),
  KEY `idx_class_id` (`class_id`),
  KEY `idx_subject_class` (`class_id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjects`
--

LOCK TABLES `subjects` WRITE;
/*!40000 ALTER TABLE `subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscriptions`
--

DROP TABLE IF EXISTS `subscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subscriptions` (
  `plan_id` int(11) NOT NULL AUTO_INCREMENT,
  `plan_name` varchar(100) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `duration_days` int(11) NOT NULL,
  `description` text DEFAULT NULL,
  `features` text DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`plan_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscriptions`
--

LOCK TABLES `subscriptions` WRITE;
/*!40000 ALTER TABLE `subscriptions` DISABLE KEYS */;
INSERT INTO `subscriptions` VALUES (1,'Free Trial',0.00,7,'7-day free trial','Access to basic content, Limited MCQs',1,'2025-11-29 18:17:04'),(2,'Monthly Plan',99.00,30,'Monthly subscription','Full access to all content, Unlimited MCQs, AI Tutor',1,'2025-11-29 18:17:04'),(3,'Yearly Plan',999.00,365,'Annual subscription with discount','Full access, Unlimited MCQs, AI Tutor, Priority Support, Offline Downloads',1,'2025-11-29 18:17:04');
/*!40000 ALTER TABLE `subscriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_badges`
--

DROP TABLE IF EXISTS `user_badges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_badges` (
  `user_badge_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `badge_id` int(11) NOT NULL,
  `earned_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`user_badge_id`),
  UNIQUE KEY `unique_user_badge` (`user_id`,`badge_id`),
  KEY `badge_id` (`badge_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_badges`
--

LOCK TABLES `user_badges` WRITE;
/*!40000 ALTER TABLE `user_badges` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_badges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_vocab_progress`
--

DROP TABLE IF EXISTS `user_vocab_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_vocab_progress` (
  `progress_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `word_id` int(11) NOT NULL,
  `easiness_factor` decimal(4,2) DEFAULT 2.50 COMMENT 'EF: 1.3 to 2.5+, affects interval growth',
  `interval_days` int(11) DEFAULT 1 COMMENT 'Days until next review',
  `repetitions` int(11) DEFAULT 0 COMMENT 'Number of successful repetitions',
  `next_review_date` date NOT NULL,
  `review_count` int(11) DEFAULT 0 COMMENT 'Total times reviewed',
  `correct_count` int(11) DEFAULT 0 COMMENT 'Times answered correctly',
  `mastery_status` enum('New','Learning','Review','Mastered') DEFAULT 'New',
  `average_rating` decimal(3,2) DEFAULT 0.00 COMMENT 'Average of all ratings (1-5)',
  `last_rating` int(11) DEFAULT 0 COMMENT 'Last rating given (1-5)',
  `first_seen_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `last_reviewed_at` timestamp NULL DEFAULT NULL,
  `mastered_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`progress_id`),
  UNIQUE KEY `unique_user_word` (`user_id`,`word_id`),
  KEY `word_id` (`word_id`),
  KEY `idx_user_next_review` (`user_id`,`next_review_date`),
  KEY `idx_mastery_status` (`mastery_status`),
  KEY `idx_next_review` (`next_review_date`),
  KEY `idx_user_status_date` (`user_id`,`mastery_status`,`next_review_date`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_vocab_progress`
--

LOCK TABLES `user_vocab_progress` WRITE;
/*!40000 ALTER TABLE `user_vocab_progress` DISABLE KEYS */;
INSERT INTO `user_vocab_progress` VALUES (1,4,1,2.18,1,0,'2026-01-04',1,0,'Learning',2.00,2,'2026-01-03 06:54:45','2026-01-03 06:54:45',NULL);
/*!40000 ALTER TABLE `user_vocab_progress` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER update_user_stats_on_progress
AFTER UPDATE ON user_vocab_progress
FOR EACH ROW
BEGIN
    DECLARE total_learned INT;
    DECLARE in_progress INT;
    DECLARE mastered INT;
    
    SELECT COUNT(*) INTO total_learned
    FROM user_vocab_progress
    WHERE user_id = NEW.user_id;
    
    SELECT COUNT(*) INTO in_progress
    FROM user_vocab_progress
    WHERE user_id = NEW.user_id AND mastery_status IN ('Learning', 'Review');
    
    SELECT COUNT(*) INTO mastered
    FROM user_vocab_progress
    WHERE user_id = NEW.user_id AND mastery_status = 'Mastered';
    
    UPDATE user_vocab_stats
    SET 
        total_words_learned = total_learned,
        words_in_progress = in_progress,
        words_mastered = mastered,
        updated_at = CURRENT_TIMESTAMP
    WHERE user_id = NEW.user_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `user_vocab_stats`
--

DROP TABLE IF EXISTS `user_vocab_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_vocab_stats` (
  `stats_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `total_words_learned` int(11) DEFAULT 0 COMMENT 'Words added to learning list',
  `words_in_progress` int(11) DEFAULT 0 COMMENT 'Currently learning',
  `words_mastered` int(11) DEFAULT 0 COMMENT 'Fully mastered words',
  `total_reviews` int(11) DEFAULT 0 COMMENT 'Total review sessions',
  `total_correct` int(11) DEFAULT 0 COMMENT 'Total correct answers',
  `accuracy_percentage` decimal(5,2) DEFAULT 0.00,
  `current_streak` int(11) DEFAULT 0 COMMENT 'Current daily streak',
  `longest_streak` int(11) DEFAULT 0 COMMENT 'Best streak achieved',
  `last_practice_date` date DEFAULT NULL,
  `total_study_time_minutes` int(11) DEFAULT 0,
  `average_session_time_minutes` decimal(5,2) DEFAULT 0.00,
  `level` int(11) DEFAULT 1 COMMENT 'User level (1-100)',
  `experience_points` int(11) DEFAULT 0 COMMENT 'XP for gamification',
  `badges_earned` text DEFAULT NULL COMMENT 'JSON array of badge IDs',
  `has_premium_access` tinyint(1) DEFAULT 0,
  `premium_expiry_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `current_set` int(11) DEFAULT 1 COMMENT 'Current set user is learning',
  `sets_completed` int(11) DEFAULT 0 COMMENT 'Number of sets completed',
  `highest_set_unlocked` int(11) DEFAULT 1 COMMENT 'Highest set unlocked',
  `total_words_mastered` int(11) DEFAULT 0,
  `streak_days` int(11) DEFAULT 0,
  PRIMARY KEY (`stats_id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `idx_streak` (`current_streak`),
  KEY `idx_mastered` (`words_mastered`),
  KEY `idx_level` (`level`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_vocab_stats`
--

LOCK TABLES `user_vocab_stats` WRITE;
/*!40000 ALTER TABLE `user_vocab_stats` DISABLE KEYS */;
INSERT INTO `user_vocab_stats` VALUES (1,4,1,1,0,1,0,0.00,0,0,'2026-01-03',0,0.00,1,0,NULL,0,NULL,'2025-12-27 09:06:34','2026-01-03 06:54:45',1,0,1,0,0);
/*!40000 ALTER TABLE `user_vocab_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `profile_picture` varchar(255) DEFAULT NULL,
  `push_token` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `user_type` enum('admin','teacher','student') NOT NULL DEFAULT 'student',
  `phone` varchar(20) DEFAULT NULL,
  `class_id` int(11) DEFAULT NULL,
  `subscription_status` enum('active','inactive') DEFAULT 'inactive',
  `subscription_expiry` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `last_login` datetime DEFAULT NULL,
  `login_streak` int(11) DEFAULT 0,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_user_type` (`user_type`),
  KEY `idx_class_id` (`class_id`),
  KEY `idx_user_class` (`class_id`,`user_type`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Admin User','admin@example.com',NULL,NULL,'$2y$10$3MPEgIf60wlKGIvrCS8pf.GWlszIe3DqK3J87bF2DJFsM1tFbCA2q','admin',NULL,NULL,'active',NULL,'2025-11-29 18:17:04',NULL,0),(2,'John Teacher','teacher@example.com',NULL,NULL,'$2y$10$dyvWuAp2oUjxwRynToEAse1W5DbYrU43WvjaagiTUqato9iodiemK','teacher','1234567890',NULL,'inactive',NULL,'2025-11-29 18:17:04',NULL,0),(4,'Test Student','student@example.com',NULL,NULL,'$2y$10$0Rl6yjaKt.84OjkRnfhSeeDHhaOgKDgHMeR9fXmBTQBkzXmT2EK7W','student',NULL,3,'active','2030-12-31','2025-12-06 16:26:03','2026-01-03 12:24:39',1);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `v_user_due_words`
--

DROP TABLE IF EXISTS `v_user_due_words`;
/*!50001 DROP VIEW IF EXISTS `v_user_due_words`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_user_due_words` AS SELECT
 1 AS `user_id`,
  1 AS `word_id`,
  1 AS `word`,
  1 AS `definition`,
  1 AS `example_sentence`,
  1 AS `difficulty_level`,
  1 AS `mastery_status`,
  1 AS `review_count`,
  1 AS `next_review_date`,
  1 AS `category_name` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_user_vocab_summary`
--

DROP TABLE IF EXISTS `v_user_vocab_summary`;
/*!50001 DROP VIEW IF EXISTS `v_user_vocab_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_user_vocab_summary` AS SELECT
 1 AS `user_id`,
  1 AS `name`,
  1 AS `total_words`,
  1 AS `mastered_words`,
  1 AS `current_streak`,
  1 AS `longest_streak`,
  1 AS `accuracy`,
  1 AS `level` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `videos`
--

DROP TABLE IF EXISTS `videos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `videos` (
  `video_id` int(11) NOT NULL AUTO_INCREMENT,
  `chapter_id` int(11) NOT NULL,
  `title` varchar(200) NOT NULL,
  `url` varchar(500) NOT NULL,
  `description` text DEFAULT NULL,
  `duration` varchar(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`video_id`),
  KEY `idx_chapter_id` (`chapter_id`),
  CONSTRAINT `videos_ibfk_1` FOREIGN KEY (`chapter_id`) REFERENCES `chapters` (`chapter_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `videos`
--

LOCK TABLES `videos` WRITE;
/*!40000 ALTER TABLE `videos` DISABLE KEYS */;
/*!40000 ALTER TABLE `videos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vocab_categories`
--

DROP TABLE IF EXISTS `vocab_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vocab_categories` (
  `category_id` int(11) NOT NULL AUTO_INCREMENT,
  `category_name` varchar(100) NOT NULL,
  `access_level` enum('Free','Premium') DEFAULT 'Free',
  `description` text DEFAULT NULL,
  `icon_emoji` varchar(10) DEFAULT '┬¡╞Æ├┤├£',
  `word_count` int(11) DEFAULT 0,
  `display_order` int(11) DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`category_id`),
  UNIQUE KEY `category_name` (`category_name`),
  KEY `idx_access_level` (`access_level`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vocab_categories`
--

LOCK TABLES `vocab_categories` WRITE;
/*!40000 ALTER TABLE `vocab_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `vocab_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vocab_review_history`
--

DROP TABLE IF EXISTS `vocab_review_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vocab_review_history` (
  `history_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `word_id` int(11) NOT NULL,
  `rating` int(11) NOT NULL COMMENT 'User rating: 1-5',
  `time_taken_seconds` int(11) DEFAULT 0,
  `was_correct` tinyint(1) DEFAULT 0,
  `previous_interval` int(11) DEFAULT NULL,
  `new_interval` int(11) DEFAULT NULL,
  `previous_easiness` decimal(4,2) DEFAULT NULL,
  `new_easiness` decimal(4,2) DEFAULT NULL,
  `review_type` enum('scheduled','extra','failed') DEFAULT 'scheduled',
  `reviewed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`history_id`),
  KEY `idx_user_date` (`user_id`,`reviewed_at`),
  KEY `idx_word` (`word_id`),
  CONSTRAINT `vocab_review_history_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `vocab_review_history_ibfk_2` FOREIGN KEY (`word_id`) REFERENCES `vocab_words` (`word_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vocab_review_history`
--

LOCK TABLES `vocab_review_history` WRITE;
/*!40000 ALTER TABLE `vocab_review_history` DISABLE KEYS */;
INSERT INTO `vocab_review_history` VALUES (1,4,1,2,0,0,1,1,2.50,2.18,'scheduled','2026-01-03 06:54:45');
/*!40000 ALTER TABLE `vocab_review_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vocab_words`
--

DROP TABLE IF EXISTS `vocab_words`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vocab_words` (
  `word_id` int(11) NOT NULL AUTO_INCREMENT,
  `word` varchar(100) NOT NULL,
  `definition` text NOT NULL,
  `example_sentence` text DEFAULT NULL,
  `category_id` int(11) NOT NULL,
  `pronunciation_text` varchar(100) DEFAULT NULL,
  `audio_file_url` varchar(255) DEFAULT NULL,
  `difficulty_level` enum('Easy','Medium','Hard') DEFAULT 'Medium',
  `usage_frequency` enum('Common','Moderate','Rare') DEFAULT 'Moderate',
  `synonyms` text DEFAULT NULL COMMENT 'Comma-separated synonyms',
  `antonyms` text DEFAULT NULL COMMENT 'Comma-separated antonyms',
  `word_type` varchar(50) DEFAULT NULL COMMENT 'noun, verb, adjective, etc.',
  `etymology` text DEFAULT NULL COMMENT 'Word origin/history',
  `mnemonic_hint` text DEFAULT NULL COMMENT 'Memory aid',
  `is_active` tinyint(1) DEFAULT 1,
  `times_reviewed` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `definition_marathi` text DEFAULT NULL COMMENT 'Definition in Marathi language',
  `set_number` int(11) DEFAULT 1,
  `level_name` varchar(50) DEFAULT 'Beginner',
  `options` text DEFAULT NULL COMMENT 'JSON array of MCQ options',
  `correct_answer` varchar(100) DEFAULT NULL COMMENT 'Correct answer for MCQ',
  PRIMARY KEY (`word_id`),
  KEY `idx_word` (`word`),
  KEY `idx_category` (`category_id`),
  KEY `idx_difficulty` (`difficulty_level`),
  KEY `idx_active` (`is_active`),
  KEY `idx_category_difficulty` (`category_id`,`difficulty_level`),
  FULLTEXT KEY `ft_word_definition` (`word`,`definition`),
  CONSTRAINT `vocab_words_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `vocab_categories` (`category_id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vocab_words`
--

LOCK TABLES `vocab_words` WRITE;
/*!40000 ALTER TABLE `vocab_words` DISABLE KEYS */;
/*!40000 ALTER TABLE `vocab_words` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER update_category_count_insert
AFTER INSERT ON vocab_words
FOR EACH ROW
BEGIN
    UPDATE vocab_categories 
    SET word_count = word_count + 1 
    WHERE category_id = NEW.category_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER update_category_count_delete
AFTER DELETE ON vocab_words
FOR EACH ROW
BEGIN
    UPDATE vocab_categories 
    SET word_count = word_count - 1 
    WHERE category_id = OLD.category_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Final view structure for view `v_user_due_words`
--

/*!50001 DROP VIEW IF EXISTS `v_user_due_words`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_user_due_words` AS select `uvp`.`user_id` AS `user_id`,`uvp`.`word_id` AS `word_id`,`vw`.`word` AS `word`,`vw`.`definition` AS `definition`,`vw`.`example_sentence` AS `example_sentence`,`vw`.`difficulty_level` AS `difficulty_level`,`uvp`.`mastery_status` AS `mastery_status`,`uvp`.`review_count` AS `review_count`,`uvp`.`next_review_date` AS `next_review_date`,`vc`.`category_name` AS `category_name` from ((`user_vocab_progress` `uvp` join `vocab_words` `vw` on(`uvp`.`word_id` = `vw`.`word_id`)) join `vocab_categories` `vc` on(`vw`.`category_id` = `vc`.`category_id`)) where `uvp`.`next_review_date` <= curdate() and `vw`.`is_active` = 1 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_user_vocab_summary`
--

/*!50001 DROP VIEW IF EXISTS `v_user_vocab_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_user_vocab_summary` AS select `u`.`user_id` AS `user_id`,`u`.`name` AS `name`,coalesce(`uvs`.`total_words_learned`,0) AS `total_words`,coalesce(`uvs`.`words_mastered`,0) AS `mastered_words`,coalesce(`uvs`.`current_streak`,0) AS `current_streak`,coalesce(`uvs`.`longest_streak`,0) AS `longest_streak`,coalesce(`uvs`.`accuracy_percentage`,0) AS `accuracy`,coalesce(`uvs`.`level`,1) AS `level` from (`users` `u` left join `user_vocab_stats` `uvs` on(`u`.`user_id` = `uvs`.`user_id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-03 13:30:06
